<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationpln">


    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        >


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name="com.example.myapplicationpln.activities.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.myapplicationpln.auth.AuthActivity"/>
        <activity android:name="com.example.myapplicationpln.MainActivity" />
        <activity android:name="com.example.myapplicationpln.activities.LoginActivity" />
        <activity android:name="com.example.myapplicationpln.activities.RegisterActivity" />
        <activity android:name="com.example.myapplicationpln.activities.FormAddress" />
        <activity android:name="com.example.myapplicationpln.activities.AddressListActivity" />
        <activity android:name="com.example.myapplicationpln.activities.FirebaseRecyclerAdapterAddress" />
        <activity android:name="com.example.myapplicationpln.activities.FormAddressWithSpinnerApi" />
        <activity android:name="com.example.myapplicationpln.activities.EventDetailActivity" />
        <activity android:name="com.example.myapplicationpln.auth.VerifyPhoneActivity"/>
        <activity android:name="com.example.myapplicationpln.activities.UpdateUserData"/>
        <activity android:name=".caamera.PreviewActivity"/>
        <activity android:name=".activities.AddressListActivity2"/>
        <activity
            android:name=".caamera.CameraDemoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CamsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"/>
        <activity android:name=".fragment.ViewImageActivitiy"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:usesCleartextTraffic="true"
            android:grantUriPermissions="true">
            <meta-data
                android:usesCleartextTraffic="true"
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external_files" />
        </provider>
    </application>

</manifest>